# ===== VM / SYSTEM =====
.bash_history
.cache/
.config/
.docker/
.kube/
.lesshst
.local/
.npm/
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.terraform.d/

# ===== NODE =====
node_modules/
npm-debug.log*
npm_data_backup_*.tgz

# ===== DOCKER =====
docker_data/
*.log

# ===== TERRAFORM =====
.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
crash.*.log
terraform/**/providers/

# ===== SECRETS =====
.env
secrets-test/
secrets-test/mysql-secrets.yml
secrets-test/prod.env
cookie.txt

# ===== BACKUPS =====
backups/
html/backup_activity_events.sql

# ===== TEMP / AUTRES =====
e down

